/* You can add global styles to this file, and also import other style files */
$kpp_dark: #333333;
$kpp_green: #f0face;
$kpp_yellow: #fbe694;
$kpp_pink: #ffcccc;
$kpp_purple: #d0d0ff;
$kpp_blue: #ccefff;

$title: "Futura", sans-serif;
$para: "Helvetica Neue", sans-serif;

*{
  color: $kpp_dark;
  font-weight: 500;
}
